@import url('https://fonts.googleapis.com/css2?family=Chonburi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');


/* MOBILE */
@media (min-width:320px){
    .underlay{
        margin-top: 4%;
        width: 100vw;
        height: 40vh;
        background-color: #738678;
        position: relative;
    }
    .overlay{
       top:52vh;
        width: 100vw;
        height: 55vh;
        background-color: #F5F5F5;
        position: absolute;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .overlayimage{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-top: 7%;
        margin-bottom: 5%;
    }
    .overlaytext{
        font-family: 'Chonburi',sans-serif;
        font-size: 26px;
    }
    .overlayskills{
        font-family: 'Rubik', sans-serif;
        font-size: 20px;
    }
    .social{
        top:95vh;
        right: 16vw;
         width: 70vw;
         height: 7vh;
         position: absolute;
         box-shadow: -15px 15px 15px rgba(255,255,255,0.1),
         15px 15px 15px rgba(0, 0, 0, 0.1);
         margin-top: 15%;
    }
    .social img{
        width: 58px;
        height: 58px;
        margin-top: 2%;
        margin-left: 9%;
    }
    span:before{
        content:'';
        color: #738678;
        font-size: 21px;
        animation: animate infinite 8s;
    }
    @keyframes animate{
        0%{
            content:'JavaScript'
        }
        20%{
            content:'React'
        }
        40%{
            content:'HTML'
        }
        60%{
            content:'CSS'
        }
        80%{
            content:'Node.js'
        }
        100%{
            content:'Ruby'
        }
    }
    .abouttext{
        position: absolute;
        width: 77vw;
        top:22vh;
        right: 14vw;
        /* border: 1px solid black; */
    }
    .howdy{
        font-family: 'Chonburi',sans-serif;
        font-size: 36px;
        margin-bottom: 8%;
        padding-top: 1%;
    }
    .aboutbuttons{
        margin-top: 5%;
        font-family: 'Rubik', sans-serif;
        font-size: 10px;
        text-decoration: underline;
    }
    .aboutbuttons a{
        text-decoration: none;
        color: black;
    }
    .aboutbuttons a:hover{
        color: #738678;
    }
    .aboutbuttons div{
        margin-top: 5%;
    }
    .aboutdesc{
        font-family: 'Rubik', sans-serif;
        font-size: 13px;
        margin-bottom: 5%;
    }
}
@media (min-width:375px){
    .abouttext{
        position: absolute;
        width: 77vw;
        top:14vh;
        right: 14vw;
        /* border: 1px solid black; */
    }
   .overlay{
       height: 55vh;
   }
   .social{
       margin-top: 16%;
       top: 99vh
   }
   .howdy{
       margin-top: 3%;
       font-size: 30px;
   }
   .aboutbuttons{
       font-size: 13px;
   }
   
}
/* TABLET */
@media (min-width:768px){
    .underlay{
        margin-top: 4%;
        width: 30vw;
        height: 60vh;
        background-color: #738678;
        position: relative;
    }
    .overlay{
       top:22vh;
       right: 59vw;
        width: 27vw;
        height: 35vh;
        background-color: #F5F5F5;
        position: absolute;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .overlayimage{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-top: 7%;
        margin-bottom: 5%;
    }
    .overlaytext{
        font-family: 'Chonburi',sans-serif;
        font-size: 26px;
    }
    .overlayskills{
        font-family: 'Rubik', sans-serif;
        font-size: 20px;
    }
    .social{
        top:41vh;
        right: 59vw;
         width: 27vw;
         height: 7vh;
         background-color: #F5F5F5 ;
         position: absolute;
         box-shadow: -15px 15px 15px rgba(255,255,255,0.1),
         15px 15px 15px rgba(0, 0, 0, 0.1);
    }
    .social img{
        width: 35px;
        height: 35px;
        margin-top: 2%;
        margin-left: 15%;
    }
    span:before{
        content:'';
        color: #738678;
        font-size: 23px;
        animation: animate infinite 8s;
    }
    @keyframes animate{
        0%{
            content:'JavaScript'
        }
        20%{
            content:'React'
        }
        40%{
            content:'HTML'
        }
        60%{
            content:'CSS'
        }
        80%{
            content:'Node.js'
        }
        100%{
            content:'Ruby'
        }
    }
    .abouttext{
        position: absolute;
        width: 30vw;
        top:29vh;
        right: 26vw;
        /* border: 1px solid black; */
    }
    .howdy{
        font-family: 'Chonburi',sans-serif;
        font-size: 66px;
        margin-bottom: 8%;
    }
    .aboutbuttons{
        margin-top: 5%;
        font-family: 'Rubik', sans-serif;
        font-size: 20px;
        text-decoration: underline;
    }
    .aboutbuttons a{
        text-decoration: none;
        color: black;
    }
    .aboutbuttons a:hover{
        color: #738678;
    }
    .aboutbuttons div{
        margin-top: 5%;
    }
    .aboutdesc{
        font-family: 'Rubik', sans-serif;
        font-size: 19px;
        margin-bottom: 8%;
    }
    }

    /* DESKTOP */
@media (min-width:1025px){
.underlay{
    margin-top: 4%;
    width: 40vw;
    height: 70vh;
    
    background-color: #738678;
    position: relative;
}
.overlay{
   top:29vh;
   right: 46vw;
    width: 27vw;
    height: 55vh;
    background-color: #F5F5F5;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.overlayimage{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 7%;
    margin-bottom: 5%;
}
.overlaytext{
    font-family: 'Chonburi',sans-serif;
    font-size: 26px;
}
.overlayskills{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}
.social{
    top:49vh;
    right: 46vw;
     width: 27vw;
     height: 7vh;
     background-color: #F5F5F5 ;
     position: absolute;
     box-shadow: -15px 15px 15px rgba(255,255,255,0.1),
     15px 15px 15px rgba(0, 0, 0, 0.1);
    
}
.social img{
    width: 35px;
    height: 35px;
    margin-top: 2%;
    margin-left: 17%;
}
span:before{
    content:'';
    color: #738678;
    font-size: 23px;
    animation: animate infinite 8s;
}
@keyframes animate{
    0%{
        content:'JavaScript'
    }
    20%{
        content:'React'
    }
    40%{
        content:'HTML'
    }
    60%{
        content:'CSS'
    }
    80%{
        content:'Node.js'
    }
    100%{
        content:'Ruby'
    }
}
.abouttext{
    position: absolute;
    width: 30vw;
    top:29vh;
    right: 10vw;
}
.howdy{
    font-family: 'Chonburi',sans-serif;
    font-size: 66px;
    margin-bottom: 8%;
}
.aboutbuttons{
    margin-top: 5%;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    text-decoration: underline;
}
.aboutbuttons a{
    text-decoration: none;
    color: black;
}
.aboutbuttons a:hover{
    color: #738678;
}
.aboutbuttons div{
    margin-top: 5%;
}
.aboutdesc{
    font-family: 'Rubik', sans-serif;
    font-size: 19px;
    margin-bottom: 8%;
}
}